* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: #3f3f41;
    color: #00ff00;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background-color: #000;
    border: 2px solid #ff00ff;
    padding: 30px;  /* Increased padding */
    max-width: 800px;  /* Increased container width */
    text-align: center;
    width: 100%;          /* Full width */
    height: 800px;            /* Set initial height */
    padding-bottom: 40%; /* Makes height equal to width for a square */
    position: relative; 
}

.title {
    font-size: 24px;
    color: #ff00ff;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 16px;
    color: #ffff00;
    margin-bottom: 20px;
}

.mcap-box {
    border: 2px solid #ff00ff;
    padding: 20px;
    margin-bottom: 20px;
}

.mcap-label {
    font-size: 20px;
    color: #ffa500;
    margin-bottom: 5px;
}

.mcap-value {
    font-size: 48px;
    color: #00ff00;
}

.description {
    font-size: 12px;
    color: #00ff00;
    margin-bottom: 20px;
}

.note {
    font-size: 10px;
    color: #ff69b4;
}
